# Obtaining Our Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

Your boss gives you a general description of some of the datasets at your disposal for analyzing weekly store sales. They're eventually looking for you to build a model to help determine what factors impact sales, and model future sales forecasting for business planning.  
  
Most of the properietary store data sits in the company sql database, accessible by all managers and above. The database is called **Walmart.db** Your boss provides you with the following basic schema:  

<img src='db_schema.jpg' width=500>  

She then tells you that she's put together a second dataset on general economy statistics for the various dates that she would also like you to incorporate in your analysis. That data, she says, is stored in a file **economy_data.csv**.

As a first step in creating your model for providing recommendations and projections, load and synthesize these disperate datasets into a singular unified DataFrame. Then save your results to a file **Merged_Store_Data.csv**.

Make sure you check the various data types and merge appropriately.

In [1]:
# Your code here
import sqlite3
import pandas as pd

In [4]:
#first merge
con = sqlite3.connect("Walmart.db")
cur = con.cursor()
cur.execute("""SELECT * from sales join store_details using(Store);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df.head()

   Store  Dept        Date  Weekly_Sales IsHoliday Type    Size
0      1     1  2010-02-05      24924.50     False    A  151315
1      1     1  2010-02-12      46039.49      True    A  151315
2      1     1  2010-02-19      41595.55     False    A  151315
3      1     1  2010-02-26      19403.54     False    A  151315
4      1     1  2010-03-05      21827.90     False    A  151315

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452192 entries, 0 to 452191
Data columns (total 7 columns):
Store           452192 non-null int64
Dept            452192 non-null int64
Date            452192 non-null object
Weekly_Sales    452192 non-null float64
IsHoliday       452192 non-null object
Type            452192 non-null object
Size            452192 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 24.1+ MB

In [9]:
df2 = pd.read_csv('economy_data.csv')
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
Store           8190 non-null int64
Date            8190 non-null object
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
IsHoliday       8190 non-null bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 711.9+ KB

In [10]:
df2.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [12]:
df.IsHoliday = df.IsHoliday.astype(bool)

In [14]:
merged = pd.merge(df, df2)
print(merged.shape)
merged.head(30)

(31817, 16)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
1,1,2,2010-02-12,44682.74,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
2,1,3,2010-02-12,10887.84,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
3,1,4,2010-02-12,35351.21,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
4,1,5,2010-02-12,29620.81,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
5,1,6,2010-02-12,9135.00,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
6,1,7,2010-02-12,18310.31,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
7,1,8,2010-02-12,37334.83,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
8,1,9,2010-02-12,16562.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
9,1,10,2010-02-12,31494.77,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
10,1,11,2010-02-12,21760.75,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
11,1,12,2010-02-12,8654.07,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
12,1,13,2010-02-12,36476.40,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
13,1,14,2010-02-12,18129.02,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
14,1,16,2010-02-12,11873.89,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
15,1,17,2010-02-12,13403.66,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
16,1,18,2010-02-12,19006.50,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
17,1,19,2010-02-12,1490.79,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
18,1,20,2010-02-12,3697.70,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
19,1,21,2010-02-12,8735.83,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
20,1,22,2010-02-12,14807.95,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
21,1,23,2010-02-12,22812.41,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
22,1,24,2010-02-12,8050.24,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
23,1,25,2010-02-12,13268.75,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
24,1,26,2010-02-12,10050.92,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
25,1,27,2010-02-12,2339.50,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
26,1,28,2010-02-12,1008.36,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
27,1,29,2010-02-12,7696.61,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
28,1,30,2010-02-12,5328.50,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106
29,1,31,2010-02-12,3228.96,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.24217,8.106

In [15]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31817 entries, 0 to 31816
Data columns (total 16 columns):
Store           31817 non-null int64
Dept            31817 non-null int64
Date            31817 non-null object
Weekly_Sales    31817 non-null float64
IsHoliday       31817 non-null bool
Type            31817 non-null object
Size            31817 non-null int64
Temperature     31817 non-null float64
Fuel_Price      31817 non-null float64
MarkDown1       12812 non-null float64
MarkDown2       11592 non-null float64
MarkDown3       12326 non-null float64
MarkDown4       11775 non-null float64
MarkDown5       12861 non-null float64
CPI             31817 non-null float64
Unemployment    31817 non-null float64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 3.9+ MB

In [16]:
merged.to_csv('Merged_Store_Data.csv', index=False)

## Summary
Nice work! You're working more and more independently through the workflow, and ensuring data integrity!